<nz-card style="" nzTitle="Nuevo Producto">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="Name" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="name" type="text"  id="name" placeholder="write any thing" ([ngModel])="name"  />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <textarea
          name="descripcion"
          nz-input
          rows="2"
          placeholder="write any thing"
          ([ngModel])="description"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="precioUnidad" nzRequired
        >Costo Unidad</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          name="costo"
          type="text"
          id="costo"
          placeholder="write any thing"
          ([ngModel])="costo"
          />
      </nz-form-control> </nz-form-item><nz-form-item>

      <nz-form-label [nzSpan]="6" nzFor="stock" nzRequired
        >Stock</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          name="costo"
          type="text"
          id="costo"
          placeholder="write any thing"
          ([ngModel])="stock"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="6" [nzSpan]="12">
          <button nz-button nzType="primary" (click)="PostForm()"><i nz-icon type="save" theme="outline"></i> Save</button>
          <button nz-button nzType="danger"><i nz-icon type="delete" theme="outline"></i> Cancel</button>
        </nz-form-control>
      </nz-form-item>
  </form>
</nz-card>
