<nz-layout style=" height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'">
    <app-sider></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;"></nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">
      Ant Design ©2017 Implement By Angular
    </nz-footer>
  </nz-layout>
</nz-layout>
