<button nz-button nzType="primary" [routerLink]="['new-product']"><i nz-icon type="file-add"></i>New Product</button>
<nz-table #basicTable [nzData]="productos">

    <thead>
      <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productos">
        <td>{{data.id}}</td>
        <td>{{data.nombre}}</td>
        <td>{{data.precioUnidad}}</td>
        <td>{{data.stock}}</td>
        <td>
          <a><i nz-icon type="edit" theme="outline"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a><i nz-icon type="delete" theme="outline"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
