
  <div class="logo">
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [routerLink]="['']"><span><i nz-icon type="dashboard"></i><span class="nav-text">Dashboard</span></span></li>
    <li nz-menu-item [routerLink]="['/products']"><span><i nz-icon type="book"></i><span class="nav-text">Products</span></span></li>
    <li nz-menu-item><span><i nz-icon type="video-camera"></i><span class="nav-text">Details</span></span>
    </li>
    <li nz-menu-item><span><i nz-icon type="mail"></i><span class="nav-text">Contact</span></span></li>
    <li nz-menu-item><span><i nz-icon type="user"></i><span class="nav-text">Users</span></span></li>
  </ul>

