<h3 [ngStyle]="{'margin-bottom.px': 16 }">Pendientes</h3>
  <nz-list [nzDataSource]="data" nzBordered
           [nzHeader]="'To Do List'" [nzFooter]="'Fin'"
           [nzRenderItem]="item">
    <ng-template #item let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
  </nz-list>
